{
  "extends": [
    "stylelint-config-twbs-bootstrap"
  ],
  "rules": {
    "scss/at-function-named-arguments": null,
    "scss/operator-no-newline-after": null,
    "declaration-property-value-disallowed-list": {
      "border": "none",
      "outline": "none"
    },
    "function-disallowed-list": [
      "calc"
    ],
    "property-disallowed-list": [
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "transition"
    ]
  }
}
